/*BACKGROUND*/

.hero {
    width: 100%;
    height: 100%;
    margin-top: -90px;
}

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero video.video-test {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

video {
    object-fit: cover;
}


/************BACKGROUND************/

.centerpiece {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7rem;
    padding:  0rem 4rem 0rem 4rem;
    background: black;
    border-radius: 1rem 1rem 1rem 1rem;
    border: 0.1rem white solid;
    z-index: 50;
    width: 95%;
    height: 85%;
}

.link-button {
    font-size: 0.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    border:none;
}

.title {
    z-index: 50;
    width: 28rem;
    height: 10rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.nft-gifs {
    display: flex;
    align-self: center;
    justify-self: center;
}

.text-box-container {
    display: flex;
    row-gap: 2rem;
    margin-right: 0;
    padding-right: 0;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 10rem;
    margin-left: auto;
}

.text-box h1 {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 15px;
}

.anchor {
    display: block;
    height: 4rem;
    line-height: 3.9rem;
    text-align: center;
}

.text-box>p:first-child {
    margin-bottom: 8rem;
}

.text-box-p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text-box>.eden-button{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #5E03C6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text-box>.discord-button {
    background-color: #5E03C6;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.eden-button:active {
    color: #5E03C6;
    background-color: white;
}

.discord-button:active {
    color: #5E03C6;
    background-color: white;
}

/************TEXT BOX************/


/************NFT BOX************/

.nft-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 35%;
    display: none;
}

.nft-gifs {
    width: 100%;
    border-radius: 10px;
    z-index: 100;
}

.nft-gifs>img {
    display: block;
    width: 30rem;
    border-radius: 1rem;
    border: 0.1rem white solid;
    margin-bottom: 3rem;
    margin-right: auto;
}

.quote {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
}

video.video-nft {
    width: 220px;
    position: relative;
    box-shadow: 1px 1px 30px 2px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 1px 30px 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/************NFT BOX************/

@media only screen and (max-width: 900px) {

    .nft-box {
        bottom: 35%;
    }
    
    video.video-nft {
        width: 160px;
    }

    .text-box h1 {
        font-size: 1rem;
    }

    .minting{
        bottom: -40px;
    }

    .minting h3 {
        font-size: 0.7rem;
    }

}


@media only screen and (max-width: 700px) {
    
    #void .space {
        padding: 1rem;
    }
  
    #void .timer p {
      font-size: .9rem;
    }
    
    #void .timer p small {
      font-size: .5rem;
    }
  
}

@media only screen and (max-width: 360px) {

    #void {
        padding: 1rem;
    }

}

