/*BACKGROUND*/

.hero {
    width: 100%;
    height: 100%;
    margin-top: -90px;
}

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero video.video-test {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

video {
    object-fit: cover;
}


/************BACKGROUND************/

.centerpiece {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding:  4rem;
    background: black;
    border-radius: 1rem;
    border: 0.1rem white solid;
    z-index: 50;
    width: 65rem;
    height: 40rem;
}

.link-button {
    font-size: 0.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    border:none;
}

.title {
    margin-top: 3rem;
    z-index: 50;
    width: 20rem;
    height: 7rem;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    min-width: 10rem;
    width: 45rem;
    padding-right: 1.5rem;
}

.text-box h1 {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 15px;
}

.text-box>a {
    text-align: center;
    text-decoration: none;
}

.text-box>img {
    margin-bottom: 2rem;
}

.text-box>p:first-child {
    margin-bottom: 8rem;
}

.text-box>.eden-button{
    margin-bottom: 0.5rem;
    background-color: #5E03C6;
}

.text-box>.discord-button {
    background-color: #5E03C6;
}

.eden-button:active {
    color: #5E03C6;
    background-color: white;
}

.discord-button:active {
    color: #5E03C6;
    background-color: white;
}

/************TEXT BOX************/


/************NFT BOX************/

.nft-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 35%;
    display: none;
}

.nft-gifs {
    width: 100%;
    border-radius: 10px;
    z-index: 100;
    align-self: center;
}

.nft-gifs>img {
    width: 25rem;
    border-radius: 1rem;
    border: 0.1rem white solid;
}

video.video-nft {
    width: 220px;
    position: relative;
    /* margin-top: 173px; */
    box-shadow: 1px 1px 30px 2px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 1px 30px 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/************NFT BOX************/

@media only screen and (max-width: 900px) {

    .nft-box {
        /* bottom: 230px; */
        /* left: 40%;
        bottom: 40%; */
        bottom: 35%;
        /* display: none; */
    }
    
    video.video-nft {
        width: 160px;
    }



    .text-box h1 {
        font-size: 1rem;
    }

    .minting{
        bottom: -40px;
    }

    .minting h3 {
        font-size: 0.7rem;
    }

    .text-box {
        /* top: 70px; */
    }


}


@media only screen and (max-width: 700px) {
    
    #void .space {
        padding: 1rem;
    }
  
    #void .timer {
    }
  
    #void .timer p {
      font-size: .9rem;
    }
    
    #void .timer p small {
      font-size: .5rem;
    }
  
}

@media only screen and (max-width: 360px) {

    #void {
        padding: 1rem;
    }

}

