#faq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 500px;
    background: #0F0F0F;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section-faq {
    width: 100%;
    max-width: 80rem;
    margin: auto;
}

/* .accordion-item>button {
    display: block;
    justify-content: center;
    text-align: center;
} */

.accordion {
    border-radius: 0px!important;
    border: 0px!important;
}

button {
    margin: 0;
    padding: 0;
    width: 100%;
}

.button.title {
    width: 100%;
}

.accordion-item {
    width: 100%;
}

.accordion .accordion-item .title {
    background-color: #2C2C2E!important;
    margin-top: 2rem;
}

.accordion-item button {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #fff!important;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.accordion .accordion-item .title:after {
    color: #B92EE5!important;
    font-size: 1rem!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    content: '\002b'!important;
}

.accordion .accordion-item.active .title:after {
    color: #B92EE5!important;
    font-size: 1rem!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    content: '\2212'!important;
}

.panel {
    text-align: left;
}

.accordion .accordion-item.active .panel p {
    padding: 18px;
    margin-bottom: 0rem!important;
}

/* 
@media only screen and (max-width: 800px) {
    .accordion-item button {
        font-size:0.6rem;
    }

    .accordion .accordion-item .panel p {
        padding: 18px;
        margin-bottom: 0rem!important;
        font-size: 0.6rem;
    }

    .accordion .accordion-item .title:after {
        display: none!important;
    }

    .accordion-item button {
        letter-spacing: 2px;
        line-height: 15px;
    }
}


@media only screen and (max-width: 720px) {
    #faq {
        padding: 60px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .accordion-item button {
        font-size:0.5rem;
    }

    .accordion .accordion-item .panel p {
        padding: 18px;
        margin-bottom: 0rem!important;
        font-size: 0.5rem;
    }
} */
