.void-pass {
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: #111111;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: center;
    justify-self: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    max-width: 1200px;
    width: 100%;
}

video.video-nft-two {
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    border-radius: 10px;
}

.table {
    padding-bottom: 4rem;
    width: 100%;
}


/********** Lore *************/

.void-pass>h1 {
    padding: 0;
    margin: 0;
}

.void-pass>h2 {
    padding: 0;
    margin-bottom: 1rem;
}

.void-pass>p {
    padding:0;
    margin: 0;
}

.pvp {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: black;
    border-radius: 3rem;
    border: 0.1rem white solid;
    margin-bottom: 2rem;
}

.pvp-img {
    height: 40rem;
    width: 60rem;
    border: 0.1rem solid white;
    border-radius: 3rem;
}

.pvp-text {
    width: 60rem;
}

.raid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    background-color: black;
        border-radius: 3rem;
    border: 0.1rem white solid;
    padding: 5rem;
    margin-bottom: 2rem;
}

.raid-img {
    height: 40rem;
    width: 40rem;
}

.raid-text {
    width: 30rem;
}

.crawl-text {
    width: 80rem;
    background-color: black;
}

.chestMage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    background-color: black;
        border-radius: 3rem;
    border: 0.1rem white solid;
    padding: 5rem;
    margin-bottom: 2rem;
}

.chestMage-text {

}

.chestMage-image {

    border: 0.1rem white solid;
    border-radius: 3rem;
    width: 25rem;

}

.phylactery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    background-color: black;
        border-radius: 3rem;
    border: 0.1rem white solid;
    padding: 5rem;
    margin-bottom: 2rem;
}

.phylactery-img {
    border: 0.1rem white solid;
    border-radius: 3rem;
    width: 25rem;
}

.howTo-img {
    width: 80r em;
}

.battle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    background-color: black;
        border-radius: 3rem;
    border: 0.1rem white solid;
    padding: 5rem;    
    margin-bottom: 2rem;
}

.battle-img {
    /* border: 0.1rem white solid; */
    /* border-radius: 3rem; */
    width: 25rem;    
}

.abilities {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    background-color: black;
        border-radius: 3rem;
    border: 0.1rem white solid;
    padding: 5rem;      
    margin-bottom: 2rem;
}


/********** Lore *************/


/************MINTING************/

.minting{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    /* position: absolute; */
    /* bottom:20px; */
    /* height: 200px; */
    padding: 0px 20px;
}

.minting h3 {
    /* color: #fff!important;
    background: none;/********** Lore *************/

        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 3rem 0rem;
        color: #fff;
}

#void-pass .timer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* max-width: 600px; */
    width: 100%;
    margin: auto;
    margin-top: 0px;
    grid-gap: 1rem;
    text-align: center;
}

#void-pass .timer p {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;/********** Lore *************/

  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0rem!important;
}

#void-pass .timer p small {
  font-size: .8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#void-pass .space {
    background: linear-gradient(51.33deg, #5E03C6 39.03%, #3F33D5 100.2%);
    border-radius: 10px;
    padding: 1.5rem;
}

/************MINTING************/



@media only screen and (max-width: 1000px) {
    .section {
        grid-template-columns: 1fr;
    }

    .left {
        text-align: center;
        padding-right: 0rem;
    }

}

@media only screen and (max-width: 720px) {
    .void-pass li {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        /* line-height: 55px; */
        padding: 0px 0 0px 18px;
        font-size: 0.5rem;
    }

    .void-pass {
        padding: 60px 20px;

    }

    .minting {
        padding: 0px;
    }

    .minting h3 {
        font-size: 0.9rem;
        margin: 2rem 0rem;
    }

    .section {
        grid-gap: 50px;
    }

    /* #void-pass .timer {
        grid-template-columns: 1fr 1fr;
    } */

    #void-pass .space {
        padding: 0.5rem;
    }

    #void-pass .timer p {
        font-size: 0.8rem;
    }

    #void-pass .timer p small {
        font-size: 0.6rem;
    }

}